{% extends 'dashboard_site/base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">تعديل بيانات</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">الأطباء</a></li>
                    <li class="breadcrumb-item active">تعديل بيانات طبيب</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="" onclick="window.history.go(-1); return false;" class="btn btn-outline-primary mr-2">
                    رجوع
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">

                    <form action="{% url "dashboard_site:doctor_experience_delete_page" doctor.pk doctor_experience.pk %}"
                          method="POST"
                          enctype="multipart/form-data">

                        {% csrf_token %}

                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>

                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>معلومات الخبره</span></h5>
                            </div>
                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label>الخبره</label>
                                    <textarea name="experience"
                                              class="form-control" disabled>{{ doctor_experience.experience }}</textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-danger">تأكيد الحذف</button>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>

{% endblock %}