{% extends 'dashboard_site/base.html' %}
<link rel="stylesheet" href="/static/assets/css/modal.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">بيانات طبيب</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="">الأطباء</a></li>
                <li class="breadcrumb-item active">عرض بيانات طبيب</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a href="{% url 'dashboard_site:edit_doctor_page' doctor.pk %}" class="btn btn-primary">
                <i class="fas fa-pen"></i></a>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <!-- <h4>About Me</h4> -->
                    <div class="media mt-3">
                        {% if doctor.user.profile %}
                        <img src="{{ doctor.user.profile.url }}" class="mr-3" alt="...">
                        {% else %}
                        <img src="/static/assets/img/user.jpg" class="mr-3" alt="...">
                        {% endif %}
                        <div class="media-body">
                            <ul>
                                <li>
                                    <span class="title-span">الإسم : </span>
                                    <span class="info-span">
                                                    {{ doctor.user.full_name }}
                                                </span>
                                </li>
                                <li>
                                    <span class="title-span">التخصص : </span>
                                    <span class="info-span">
                                                   {{ doctor.specialization }}
                                               </span>
                                </li>
                                <li>
                                    <span class="title-span">رقم الهاتف : </span>
                                    <span class="info-span">
                                                   {{ doctor.user.phone_number }}
                                                </span>
                                </li>
                                <li>
                                    <span class="title-span">رقم الهاتف 2 : </span>
                                    <span class="info-span">
                                                   {{ doctor.user.phone_number_2 }}
                                                </span>
                                </li>
                                <li>
                                    <span class="title-span">سعر العيادة : </span>
                                    <span class="info-span">
                                                   {{ doctor.appointment_cost }}
                                                </span>
                                </li>
                                <li>
                                    <span class="title-span">سعر هيلز كير  : </span>
                                    <span class="info-span">
                                                   {{ doctor.healthcare_cost }}
                                                </span>
                                </li>
                                <li>
                                    <span class="title-span">الحساب البنكي : </span>
                                    <span class="info-span">
                                                   {{ doctor.bank_account_type }} - {{ doctor.bank_account }}
                                                </span>
                                </li>
                                <li>
                                    <span class="title-span">البريد الإلكتروني : </span>
                                    <span class="info-span">
                                                   {{ doctor.user.email }}
                                                </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <!-- <div class="col-md-12">
                           <p>Hello I am Daisy Parks. Lorem Ipsum is simply dummy text of the printing and typesetting industry, simply dummy text of the printing and typesetting industry.</p>
                        </div> -->
                    </div>
                    <div class="row follow-sec">
                        <div class="col-md-4 mb-3">
                            <div class="blue-box">
                                <h3>{{ total_completed_appointments }}</h3>
                                <p>المقابلات</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="blue-box">
                                <h3>{{ total_appointments }}</h3>
                                <p>الحجوزات</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="blue-box">
                                <h3>{{ total_failed_appointments }}</h3>
                                <p>فشل</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2" id="experience-tag">
                        <div class="col-md-12">

                            <h5>
                                الخبرات


                            </h5>

                            {% for doctor_experience in doctor_experiences %}
                            <div class="row">
                                <div class="col">
                                    <p class="flex justify-content-center">
                                        {{ doctor_experience.experience }}
                                    </p>
                                </div>

                                <div class="actions">
                                    <a href="{% url 'dashboard_site:doctor_experience_edit_page' doctor.pk doctor_experience.pk %}">

                                        <i class=" fas fa-pen">
                                            تعديل
                                        </i>
                                    </a>


                                    <a class="delete_experience actions btn btn-danger"
                                       experienceId="{{doctor_experience.pk}}">

                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a    href="{% url 'dashboard_site:doctor_add_experience' doctor.pk%}"
                                       class=" actions btn btn-secondary">

                                        <i class="fas fa-plus"></i>
                                    </a>


                                </div>

                            </div>
                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>

            <div class="row mt-2" id="doctor-time-tag">
                <div class="col-md-12">
                    <h5>
                        مواعيد العمل


                    </h5>
                    {% for doctor_time in doctor_times %}
                    <div class="row">
                        <div class="col">
                            <p>
                                {{ doctor_time.days }}
                                |
                                {{ doctor_time.start_hour | time:"g:i A" }}
                                حتي
                                {{ doctor_time.end_hour | time:"g:i A" }}
                            </p>
                        </div>
                        <div class="col">
                            <div class="actions">
                                <a href="#">

                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="skill-info">
                <h4>إعدادات الحساب</h4>
                <form>
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>إسم المستخدم</label>
                                <input type="text" value="{{ doctor.user.email }}" class="form-control"
                                       disabled>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>كلمة المرور</label>
                                <input type="password" value="****************" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(".delete_experience").on("click", function() {
     var experience_id = $(this).attr('experienceId');
     var doctor_id ={{doctor.id}}

    swal.fire({
    title: 'هل  تريد ان تحذف الخبرة  ؟',
    type: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'نعم',
    closeOnConfirm: true,
    closeOnCancel: true
   }).then((result) => {
      if (result.value===true) {
$.ajax(
    {
      type: "GET",
      url: '{% url "dashboard_site:delete_doctor_experience" %}',
      data:{"doctor_id":doctor_id,"experience_id":experience_id, content:'mrcboy'},
      success: function () {
        console.log("is deleted deleted")
        location.reload();
      },
      error: function (xhr, statusText, err) {
        alert("error"+xhr.status);
      }
    });
      }
   })
})









    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {% endblock %}
