<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>
        {% block title %}الإسبيتاليا{% endblock %}
    </title>
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    {% block css_block %}{% endblock %}

</head>

<body>

<div class="main-wrapper">

    {% include 'dashboard_site/navbar.html' %}

    <div class="page-wrapper">

        <div class="content container-fluid">

            {% if messages %}

                <div class="row">
                    {% for message in messages %}
                        <div class="col-12">
                            <div class="col-sm-12">
                                <div class="alert
                                            {% if 'error' in message.tags %}
                                                alert-danger
                                            {% elif 'warning' in message.tags %}
                                                alert-warning
                                            {% elif 'success' in message.tags %}
                                                alert-success
                                            {% else %}
                                                alert-info
                                            {% endif %}
                                            alert-dismissible fade show
                                           "
                                     role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}

            {% block content %} {% endblock %}
        </div>

        <footer>
            <p>الحقوق محفوظة © 2022 لدي عيادات الإسبيتاليا.</p>
            <p>تم التنفيذ بواسطة <a href="https://alhasif.com"> <img class="avatar-img rounded-circle"
                                                                     src="/static/assets/img/alhasif_logo.png"
                                                                     alt="alhasif" width="50"> شركة الحصيف العالمية
                المحدودة</a></p>
        </footer>

    </div>

</div>

<script src="/static/assets/js/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/apexchart/apexcharts.min.js"></script>
<script src="/static/assets/plugins/apexchart/chart-data.js"></script>
<script src="/static/assets/js/script.js"></script>

{% block js_block %}{% endblock %}

</body>

</html>