<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   <title>الإسبيتاليا - المقابلات</title>
   <link rel="shortcut icon" href="/static/assets/img/favicon.png">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
   <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
   <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">
   <link rel="stylesheet" href="/static/assets/css/bootstrap-rtl.css">
   <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body>
   <div class="main-wrapper">

      {% include 'dashboard_site/navbar.html' %}


      <div class="page-wrapper">
         <div class="content container-fluid">
            <div class="page-header">
               <div class="row align-items-center">
                  <div class="col">
                     <h3 class="page-title">المقابلات السابقة</h3>
                     <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">الحجوزات</a></li>
                        <li class="breadcrumb-item active">المقابلات السابقة</li>
                     </ul>
                  </div>
                  <div class="col-auto text-right float-right ml-auto">
                     <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> تحميل</a>
                     <a href="#" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                  </div>
               </div>
            </div>
            <div class="row">


               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <select class="form-control">
                        <option>كل المقابلات</option>
                        <option>مقابلات تمت</option>
                        <option>مقابلات لم تتم</option>
                        <option>مقابلات مؤجلة</option>
                        <option>مقابلات ملغية</option>
                     </select>
                  </div>
               </div>

               <div class="col-sm-12">
                  <div class="card card-table">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table table-hover table-center mb-0 datatable">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>اسم المريض</th>
                                    <th>اسم الطبيب</th>
                                    <th>التاريخ</th>
                                    <th>بداية المقابلة</th>
                                    <th>نهاية المقابلة</th>
                                    <th>الحالة</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>1</td>
                                    <td> <a href="patient/patient_details.html">Mohamed</a> </td>
                                    <td> <a href="doctor/doctor_details.html">dr. mona</a></td>
                                    <td>5-12-2022</td>
                                    <td>10:00 am</td>
                                    <td>12:00 pm</td>
                                    <td>قابل</td>
                                 </tr>

                                 <tr>
                                    <td>1</td>
                                    <td> <a href="patient/patient_details.html">Omer</a> </td>
                                    <td> <a href="doctor/doctor_details.html">dr. khaled</a></td>
                                    <td>6-12-2022</td>
                                    <td>08:00 am</td>
                                    <td>10:00 pm</td>
                                    <td>لم يقابل</td>
                                 </tr>


                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>


         <footer>
            <p>الحقوق محفوظة © 2022 لدي عيادات الإسبيتاليا.</p>
            <p>تم التنفيذ بواسطة <a href="https://alhasif.com"> <img class="avatar-img rounded-circle" src="/static/assets/img/alhasif_logo.png" alt="alhasif" width="50"> شركة الحصيف العالمية المحدودة</a></p>
         </footer>

      </div>


   </div>
   <script src="/static/assets/js/jquery-3.6.0.min.js"></script>
   <script src="/static/assets/js/popper.min.js"></script>
   <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
   <script src="/static/assets/plugins/apexchart/apexcharts.min.js"></script>
   <script src="/static/assets/plugins/apexchart/chart-data.js"></script>
   <script src="/static/assets/js/script.js"></script>
</body>

</html>