{% load l10n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>الإسبيتاليا - طلبات المقابلة</title>
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body>
<div class="main-wrapper">

    {% include 'dashboard_site/navbar.html' %}


    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">طلبات المقابلة</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard_site:order_list_page' %}">الطلبات</a>
                            </li>
                            <li class="breadcrumb-item active">قائمة الطلبات</li>
                        </ul>
                    </div>
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="{% url 'dashboard_site:order_add_page' %}" class="btn btn-primary"><i
                                class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                    <tr>
                                        <th>اسم المريض</th>
                                        <th>اسم الطبيب</th>
                                        <th>تاريخ المقابلة</th>
                                        <th>بداية المقابلة</th>
                                        <th>نهاية المقابلة</th>
                                        <th>تكلفة العيادة</th>
                                        <th>تكلفة إسبيتاليا</th>
                                        <th>التكلفة الكلية</th>
                                        <th class="text-right">خيارات إدارة</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'dashboard_site:patient_details_page' order.patient.pk %}">
                                                    {{ order.patient.user.full_name }}
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'dashboard_site:doctor_details_page' order.doctor.pk %}">
                                                    {{ order.doctor.user.full_name }}
                                                </a>
                                            </td>
                                            <td>{{ order.start_date | date:"d-m-Y" }}</td>
                                            <td>{{ order.start_date | date:"h:i A" }}</td>
                                            <td>{{ order.end_date | date:"h:i A" }}</td>
                                            <td>{{ order.appointment_cost }}</td>
                                            <td>{{ order.espitalia_cost }}</td>
                                            <td>{{ order.total_cost }}</td>

                                            {% if  order.status == 'PENDING' %}
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a href="{% url 'dashboard_site:order_accept_reject_page' order.pk 'ACCEPTED' %}"
                                                           class="btn btn-sm bg-success-light mr-2"> قبول </a>
                                                        <a href="{% url 'dashboard_site:order_accept_reject_page' order.pk 'REJECTED' %}"
                                                           class="btn btn-sm bg-danger-light"> رفض </a>
                                                    </div>
                                                </td>
                                            {% elif order.status == 'ACCEPTED' %}
                                                <td class="text-center">
                                                    <div class="actions">
                                                        <a class="btn btn-sm bg-success text-white mr-2"> تم القبول </a>
                                                    </div>
                                                </td>
                                            {% elif order.status == 'REJECTED' %}
                                                <td class="text-center">
                                                    <div class="actions">
                                                        <a class="btn btn-sm bg-danger text-white"> تم الرفض </a>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <p>الحقوق محفوظة © 2022 لدي عيادات الإسبيتاليا.</p>
            <p>تم التنفيذ بواسطة <a href="https://alhasif.com"> <img class="avatar-img rounded-circle"
                                                                     src="/static/assets/img/alhasif_logo.png"
                                                                     alt="alhasif" width="50"> شركة الحصيف العالمية
                المحدودة</a></p>
        </footer>

    </div>


</div>
<script src="/static/assets/js/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/apexchart/apexcharts.min.js"></script>
<script src="/static/assets/plugins/apexchart/chart-data.js"></script>
<script src="/static/assets/js/script.js"></script>
</body>

</html>