{% extends 'dashboard_site/base.html' %}
{% load url_params %}

{% block css_block %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <style>
        .select2-selection__rendered {
            line-height: 38px !important;
        }

        .select2-selection {
            height: 38px !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">طلبات المقابلة</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard_site:order_list_page' %}">الطلبات</a>
                    </li>
                    <li class="breadcrumb-item active">قائمة الطلبات</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="{% url 'dashboard_site:order_add_page' %}" class="btn btn-primary"><i
                        class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 mb-3">
            <form method="GET">
                <div class="row">
                    <div class="col-md-3 col-12 p-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button id="select-doctor-clear" class="btn btn-outline-secondary" type="button">Clear
                                </button>
                            </div>
                            <select
                                    id="select-doctor"
                                    class="form-control"
                                    name="doctor_id"
                                    style="height: 40px"
                            >
                                <option selected disabled>بحث باسم الطبيب</option>
                                {% if request.GET.doctor_id %}
                                    <option value="{{ request.GET.doctor_id }}" selected>{{ doctor_name }}</option>
                                {% endif %}
                            </select>
                        </div>

                    </div>
                    <div class="col-md-3 col-12 p-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button id="select-patient-clear" class="btn btn-outline-secondary" type="button">Clear
                                </button>
                            </div>
                            <select
                                    id="select-patient"
                                    class="form-control"
                                    name="patient_id"
                            >
                                <option selected disabled>بحث باسم المريض</option>
                                {% if request.GET.patient_id %}
                                    <option value="{{ request.GET.patient_id }}" selected>{{ patient_name }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 p-2">
                        <select name="status" class="custom-select">
                            <option value="PENDING" {% if request.GET.status == 'PENDING' %} selected {% endif %}>
                                طلبات معلقه
                            </option>
                            <option value="ACCEPTED" {% if request.GET.status == 'ACCEPTED' %} selected {% endif %}>
                                طلبات مقبوله
                            </option>
                            <option value="REJECTED" {% if request.GET.status == 'REJECTED' %} selected {% endif %}>
                                طلبات مرفوضه
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 col-12 p-2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">
                                بحث
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                            <tr>
                                <th>اسم المريض</th>
                                <th>اسم الطبيب</th>
                                <th>تاريخ المقابلة</th>
                                <th>بداية المقابلة</th>
                                <th>نهاية المقابلة</th>
                                <th>تكلفة العيادة</th>
                                <th>تكلفة إسبيتاليا</th>
                                <th>التكلفة الكلية</th>
                                <th class="text-right">خيارات إدارة</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'dashboard_site:patient_details_page' order.patient.pk %}">
                                            {{ order.patient.user.full_name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'dashboard_site:doctor_details_page' order.doctor.pk %}">
                                            {{ order.doctor.user.full_name }}
                                        </a>
                                    </td>
                                    <td>{{ order.start_date | date:"d-m-Y" }}</td>
                                    <td>{{ order.start_date | date:"h:i A" }}</td>
                                    <td>{{ order.end_date | date:"h:i A" }}</td>
                                    <td>{{ order.appointment_cost }}</td>
                                    <td>{{ order.espitalia_cost }}</td>
                                    <td>{{ order.total_cost }}</td>

                                    {% if  order.status == 'PENDING' %}
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'dashboard_site:order_accept_reject_page' order.pk 'ACCEPTED' %}"
                                                   class="btn btn-sm bg-success-light mr-2"> قبول </a>
                                                <a href="{% url 'dashboard_site:order_accept_reject_page' order.pk 'REJECTED' %}"
                                                   class="btn btn-sm bg-danger-light"> رفض </a>
                                            </div>
                                        </td>
                                    {% elif order.status == 'ACCEPTED' %}
                                        <td class="text-center">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success text-white mr-2"> تم القبول </a>
                                            </div>
                                        </td>
                                    {% elif order.status == 'REJECTED' %}
                                        <td class="text-center">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-danger text-white"> تم الرفض </a>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if orders.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ request.get_full_path | process_full_path }}page={{ orders.paginator.num_pages }}">Last</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ request.get_full_path | process_full_path }}page={{ orders.next_page_number }}">Next</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="#">
                            Page {{ orders.number }} of {{ orders.paginator.num_pages }}
                        </a>
                    </li>

                    {% if orders.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ request.get_full_path | process_full_path }}page={{ orders.previous_page_number }}"
                               tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ request.get_full_path | process_full_path }}page=1"
                               tabindex="-1">First</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>

    </div>

{% endblock %}

{% block js_block %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

        $('#select-doctor').select2({
            ajax: {
                url: '/api/doctor/list/',
                delay: 250,
                data: function (params) {
                    var query = {
                        search: params.term
                    }
                    return query;
                },
                processResults: function (data) {
                    let results = _.map(data.results, (r) => {
                        return {
                            id: `${r.pk}::${r.user.full_name}`,
                            text: r.user.full_name,
                            data: r
                        }
                    })
                    return {
                        results: results
                    };
                },
            }
        });

        $('#select-doctor-clear').click(() => {
            $('#select-doctor').val(null).trigger('change');
        });


        $('#select-patient').select2({
            ajax: {
                url: '/api/patient/list/',
                delay: 250,
                data: function (params) {
                    var query = {
                        search: params.term
                    }
                    // Query parameters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    console.log(data)
                    let results = _.map(data.results, (r) => {
                        return {
                            id: `${r.pk}::${r.user.full_name}`,
                            text: r.user.full_name
                        }
                    })
                    return {
                        results: results
                    };
                },
            }
        });

        $('#select-patient-clear').click(() => {
            $('#select-patient').val(null).trigger('change');
        });

    </script>

{% endblock %}