{% extends 'dashboard_site/base.html' %}

{% block css_block %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <style>
        .select2-selection__rendered {
            line-height: 38px !important;
        }

        .select2-selection {
            height: 38px !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">إضافة طلب</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">الطلبات</a></li>
                    <li class="breadcrumb-item active">إضافة طلب</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="" onclick="window.history.go(-1); return false;" class="btn btn-outline-primary mr-2">
                    رجوع
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'dashboard_site:order_add_page' %}" method="POST">

                        {% csrf_token %}

                        <input type="hidden" name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>

                        <div class="row">

                            <div class="col-12">
                                <h5 class="form-title"><span>معلومات نوع المقابله</span></h5>
                            </div>

                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                    <label>نوع المقابله</label>
                                    <select
                                            id="appointment-type"
                                            class="form-control"
                                            name="appointment_type"
                                            required
                                    >
                                        <option value="1" selected>مدفوعه</option>
                                        <option value="2">مجانيه</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <h5 class="form-title"><span>معلومات المريض و الدكتور</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>اسم المريض</label>
                                    <select
                                            id="select-patient"
                                            class="form-control"
                                            name="patient_id"
                                            required
                                    >
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>اسم الطبيب</label>
                                    <select
                                            id="select-doctor"
                                            class="form-control"
                                            name="doctor_id"
                                            required
                                    >
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <h5 class="form-title"><span>معلومات المده الزمنيه</span></h5>
                            </div>

                            <div class="col-12 col-sm-12 row">

                                <div class="col-3 col-sm-3">
                                    <div class="form-group">
                                        <label>السنه</label>
                                        <input
                                                id="meet-year"
                                                type="number"
                                                name="meeting_year"
                                                class="form-control"
                                                required
                                        >
                                    </div>
                                </div>

                                <div class="col-3 col-sm-3">
                                    <div class="form-group">
                                        <label>الشهر</label>
                                        <select
                                                id="select-month"
                                                class="form-control"
                                                name="meeting_month"
                                                required
                                        >
                                            <option value="1">يناير</option>
                                            <option value="2">فبراير</option>
                                            <option value="3">مارس</option>
                                            <option value="4">ابريل</option>
                                            <option value="5">مايو</option>
                                            <option value="6">يونيو</option>
                                            <option value="7">يوليو</option>
                                            <option value="8">اغسطس</option>
                                            <option value="9">سبتمير</option>
                                            <option value="10">اوكتوبر</option>
                                            <option value="11">نوفمبر</option>
                                            <option value="12">ديسمبر</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3 col-sm-3">
                                    <div class="form-group">
                                        <label>يوم المقابله و الساعه</label>
                                        <select
                                                id="select-doctor-time"
                                                class="form-control"
                                                name="doctor_time"
                                                required
                                        >
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3 col-sm-3">
                                    <div class="form-group">
                                        <label>اليوم</label>
                                        <select
                                                id="select-day"
                                                class="form-control"
                                                name="meeting_day"
                                                required
                                        >
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12">
                                <h5 class="form-title"><span>معلومات سعر الطلب</span></h5>
                            </div>

                            <div class="col-12 row">
                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>تكلفة الطبيب</label>
                                        <input
                                                id="doctor-cost"
                                                type="number"
                                                class="form-control"
                                                disabled
                                        >
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>تكلفة اسبتاليا</label>
                                        <input
                                                id="espitalias-cost"
                                                type="number"
                                                class="form-control"
                                                disabled
                                        >
                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group">
                                        <label>التكلفه الكليه</label>
                                        <input
                                                id="total-cost"
                                                type="number"
                                                class="form-control"
                                                disabled
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">تأكيد الطلب</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
            integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        //
        $(document).ready(function () {

            let doctor_id = null;
            let appointment_cost = 0;
            let espitalia_cost = 0;
            let appointment_type = "1";
            let selectedWeekDay = null;

            let arabicDaysToNumber = {
                'السبت': 6,
                'الاحد': 0,
                'الاثنين': 1,
                'الثلاثاء': 2,
                'الاربعاء': 3,
                'الخميس': 4,
                'الجمعه': 5,
            };

            $('#select-patient').select2({
                ajax: {
                    url: '/api/patient/list/',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            search: params.term
                        }
                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    processResults: function (data) {
                        console.log(data)
                        let results = _.map(data.results, (r) => {
                            return {id: r.pk, text: r.user.full_name}
                        })
                        console.log(results)
                        return {
                            results: results
                        };
                    },
                }
            });

            $('#select-doctor').select2({
                ajax: {
                    url: '/api/doctor/list/',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            search: params.term
                        }
                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    processResults: function (data) {
                        console.log(data)
                        let results = _.map(data.results, (r) => {
                            return {
                                id: r.pk,
                                text: r.user.full_name,
                                data: r
                            }
                        })
                        console.log(results)
                        return {
                            results: results
                        };
                    },
                }
            });

            $('#select-doctor').on('select2:select', (e) => {

                moment.locale('en');

                var data = e.params.data.data;

                appointment_cost = data.appointment_cost;
                espitalia_cost = data.espitalia_cost;

                calculateCost();

            });

            $('#select-doctor-time').select2({
                ajax: {
                    url: function (params) {
                        let doctor_id = $('#select-doctor').val();
                        console.log(params);
                        return `/api/doctor/doctor-time/${doctor_id}/list/`;
                    },
                    delay: 250,
                    data: function (params) {
                        var query = {
                            search: params.term
                        }
                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    processResults: function (data) {
                        console.log(data)
                        moment.locale('ar');
                        let results = _.map(data.results, (r) => {
                            let start_time = moment(r.start_hour, "hh:mm:ss").format("hh:mm a");
                            let end_time = moment(r.end_hour, "hh:mm:ss").format("hh:mm a");
                            return {
                                id: r.pk,
                                text: `${r.days} - ${start_time} - ${end_time}`,
                                data: r
                            }
                        })
                        console.log(results)
                        return {
                            results: results
                        };
                    },
                }
            });

            $('#select-doctor-time').on('select2:select', (e) => {


                var data = e.params.data;

                console.log(data);

                selectedWeekDay = arabicDaysToNumber[data.data.days];


            });

            $('#select-month').select2();
            $('#select-month').val((new Date()).getMonth() + 1).select();
            $('#select-month').trigger('change.select2');

            $('#meet-year').val((new Date()).getFullYear())

            $('#select-day').select2({
                ajax: {
                    url: function (params) {
                        let doctor_time_id = $('#select-doctor-time').val();
                        console.log(params);
                        return `/api/doctor/reserved-doctor-time/${doctor_time_id}/list/`;
                    },
                    delay: 250,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            year: $('#meet-year').val(),
                            month: $('#select-month').val(),
                        }
                        // Query parameters will be ?search=[term]&page=[page]
                        return query;
                    },
                    processResults: function (data) {

                        // console.log(data)

                        moment.locale('en');

                        console.log("Selected Week Day: ", selectedWeekDay);
                        let reservedDates = _.map(data.results, 'reserved_date');
                        let currentDate = moment();

                        let yearMonth = `${$('#meet-year').val()}-${$('#select-month').val()}`
                        var startOfMonth = moment(yearMonth).startOf('month');
                        if (startOfMonth < currentDate) {
                            startOfMonth = currentDate;
                        }
                        // console.log(startOfMonth);
                        var endOfMonth = moment(yearMonth).endOf('month');
                        // console.log(endOfMonth);

                        let allDates = [];

                        currentDate = startOfMonth;

                        //Logic for getting rest of the dates between two dates("FromDate" to "EndDate")
                        while (currentDate <= endOfMonth) {
                            console.log(selectedWeekDay, currentDate.day())
                            let currentWeekDay = currentDate.day();
                            // console.log(currentWeekDay);
                            if (
                                currentWeekDay === selectedWeekDay
                                &&
                                !reservedDates.includes(currentDate.format("YYYY-MM-DD"))
                            ) {
                                console.log(currentDate.format("YYYY-MM-DD"));
                                allDates.push({id: currentDate.format("DD"), text: currentDate.format("DD")});
                            }
                            currentDate = currentDate.add(1, 'days');
                        }

                        console.log(allDates);

                        moment.locale('ar');

                        return {
                            results: allDates
                        };
                    },
                }
            });

            // TODO: Appointment Type Selector Start
            $('#appointment-type').select2();

            $('#appointment-type').on('select2:select', (e) => {
                var data = e.params.data;
                console.log(data);
                appointment_type = data.id;
                calculateCost();
            });

            // TODO: Appointment Selector Type End

            function calculateCost() {
                if (appointment_type === "1") {
                    $('#doctor-cost').val(appointment_cost);
                    $('#espitalias-cost').val(espitalia_cost);
                    $('#total-cost').val(appointment_cost + espitalia_cost);
                } else {
                    $('#doctor-cost').val(0);
                    $('#espitalias-cost').val(0);
                    $('#total-cost').val(0);
                }

            }

        });
    </script>


{% endblock %}
